
.container_login {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.form_login {
    min-width: 550px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    box-shadow:  0 0.5em 1.5em rgb(0 0 0 / 10%), 0 0.125em 0.5em rgb(0 0 0 / 15%);
    border: 1px solid #ced4da;
}

.container {
    width: 100%;
    height: 100vh;
}


.list_container {
    overflow-y: auto;
    height: 100vh;
    padding: 50px 100px 0px 100px;

}

.mb-3 {
    height: 95vh !important;
}

.btn{
    font-weight: 600 !important;
    --bs-btn-font-weight: 600 !important;
}